body {
    padding-top: 5rem;
}
.error{
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
}
span{
  color:red;
}
.textfield{
  border-radius:10%;
}
#textbox{
  width:20em;
  height:10em;
}
.button{
  background-color: #197aaa;
  width:10em;
}